%tr[subscriber]
  %td.gravatar
    = gravatar(subscriber.email)
  %td.name
    = subscriber.name
    = mail_to(subscriber.email)
  %td.actions
    = t('.invite.count', :count => subscriber.invitations.count) unless subscriber.invitations.count.zero?
    = link_to t('.invite.submit'), admin_subscriber_invitations_path(subscriber), :confirm => t('.invite.confirm', :email => subscriber.email), :class => :invite, :method => :post
    = link_to t('.destroy.submit'), admin_subscriber_path(subscriber), :confirm => t('.destroy.confirm', :email => subscriber.email), :class => :unsubscribe, :method => :delete
