- form_for @message do |form|
  %h2= t('.title')

  .field
    = form.label :recipient, :append_text => form.error_message_on(:recipient)
    = form.text_field(:recipient)

  .field
    = form.label :text, :append_text => form.error_message_on(:text)
    = form.text_area(:text)

  .submit
    = form.submit t('.submit')
