- form_for subscriber, :html => { :class => :standard } do |form|
  %h2= t('.title')
  = textilize(t('.blurb'))

  .field
    = form.label :name, :append_text => form.error_message_on(:name)
    = form.text_field(:name)
  .field
    = form.label :email, :append_text => form.error_message_on(:email)
    = form.text_field(:email)
  .submit
    = form.submit t('.submit')
