%h2= t(:sign_up)
- form_for prepare_new_account(@account) do |form|
  - if @account.errors.any?
    .errors
      = @account.errors.full_messages.to_sentence

  .field
    = form.label :subdomain
    / FIXME extract (or find) a method for current_host
    = form.text_field(:subdomain) + ".#{request.host}"

  - form.fields_for :users do |user_form|
    - if user_form.object.errors.any?
      .errors
        = user_form.object.errors.full_messages.to_sentence

    .field
      = user_form.label :email
      = user_form.text_field :email
    .field
      = user_form.label :password
      = user_form.password_field :password
    .field
      = user_form.label :password_confirmation
      = user_form.password_field :password_confirmation

  .field
    = form.submit t(:sign_up)
