- form_for prepare_new_account(@account) do |form|
  %h2= t(:sign_up)

  .field
    = form.label :subdomain, :append_text => form.error_message_on(:subdomain)
    / FIXME extract (or find) a method for current_host
    = form.text_field(:subdomain) + ".#{request.host}"

  - form.fields_for :users do |user_form|
    .field
      = user_form.label :email, :append_text => user_form.error_message_on(:email)
      = user_form.text_field :email
    .field
      = user_form.label :password, :append_text => user_form.error_message_on(:password)
      = user_form.password_field :password
    .field
      = user_form.label :password_confirmation, :append_text => user_form.error_message_on(:password_confirmation)
      = user_form.password_field :password_confirmation

  .submit
    = form.submit t(:sign_up)
